@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btnIcon{
    color: aliceblue;
    border-radius: 5px;
    font-size: xx-large;
    align-content: center;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-tab-nav {
    z-index: 990;
    flex-direction: column;
    flex: none;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.displayNone{
    display: none;
}

.wFull{
    width: 80vw;
}

.whalf{
    width: 60vw;
}

.hMscreen {
    height: 120vh;
}

@media (min-width: 768px){
    .imgSm{
        display: none;
    }
}
